.container{
    display:grid;
    position:relative;
    /* border:1px solid red; */
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-gap: 1em;
   z-index:1;
    padding: 0;
    background-color: #1e2931;
    margin-bottom: 100px;
 
}
.loading{

  

  
}
