:root {
    --primary-color: #ff5722;
    --font-size: 16px;
  }

.movie{
    text-align: center;
    height:500px;
    margin: 20px;
    padding: 20px;
 

    
}
.image{
    height:100%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}
.movie h2 {
    font-size: 16px;
    padding: 0px;
    color:red
  
  }
 
  .movie p {
    font-size: var(--font-size);
    color: #555;
  }